<!DOCTYPE html>
<html>

<head>
    <link rel = "icon" href= "/img/weather.png">
   <title>About</title>
    <link rel= "stylesheet" href= "/css/styles.css">
</head>

<body>
    <div class="main-content">

{{>header}}
<p>This application was created by Onyema Chika V. It makes use of mapbox.com and Darksky.net</p>
     <img class ="potrait" src = "img/noza.jpg">
    </div>



     {{>footer}}
</body>



</html>